.container_form{
    display: flex;
    align-items: center;
    justify-content: center;
}


.wrapper_input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input_label{
    font-size: var(--font-base-size);
}

.contact_input{

}

.contact_text_input{
    height: 120px;
    width: 250px;
}